:host {
  .home-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;

    .teachers-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
